# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

# Media and static files
/media
/staticfiles

# Django migrations
*/migrations/
!*/migrations/__init__.py

# Environment variables
.env
.env.*

# VS Code settings
.vscode/

# Virtual environments
venv/
env/
ENV/
.venv/
.python-version

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Pytest
.cache

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/

# mypy
.mypy_cache/
.dmypy.json

# pipenv
Pipfile.lock

# pytest
.pytest_cache/

# celery beat schedule file
celerybeat-schedule

# Sphinx documentation
docs/_build/

# Local settings
local_settings.py

# node modules (if using npm/yarn for frontend)
node_modules/